{% extends "./base.html" %}

{% include 'header.html' %}

{% block body %}
<h1>Bienvenido a la Tienda Nelli</h1>
<p>Explora nuestros productos y ofertas especiales.</p>

<div class="row">
  {% for producto in productos %}
  <div class="col-md-4">
    <div class="card mb-4">
      <img src="{{ url_for('static', filename='images/product1.jpg') }}" class="card-img-top" alt="Producto {{producto.id}}">
      <div class="card-body">
        <h5 class="card-title">{{producto.nombre}}</h5>
        <p class="card-text">{{producto.descripcion}}</p>
        <p class="card-text"><strong>Precio:</strong> ${{producto.precio}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
